@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --plyr-color-main: #5153ff;
}

video,
.plyr--video,
.player {
    min-width: 50vw;
    min-height: 50vh;
}

@media (min-width: 768px) {
    video,
    .plyr--video,
    .player {
        max-width: 60vw;
        max-height: 60vh;
    }
}

.active {
    background-color: #8383836b;
    border-radius: 5px;
}

.playlist-container {
    overflow-y: auto;
    max-height: 29em;
}

*::-webkit-scrollbar {
    width: 0.1px;
}

.playlist-active {
    background-color: #8383836b;
    border-radius: 5px;
}

.playlist-container-mobile {
    overflow-y: auto;
    max-height: 22em;
    width: 100%;
}

.playlist-container-mobile::-webkit-scrollbar {
    width: 0.5em;
}