@tailwind base;
@tailwind components;
@tailwind utilities;
.active {
    background-color: #8383836b;
    border-radius: 5px;
}

.playlist-container {
    overflow-y: auto;
    max-height: 29em;
}

.playlist-container::-webkit-scrollbar {
    width: 0.5em;
}

.playlist-active {
    background-color: #8383836b;
    border-radius: 5px;
}

.playlist-container-mobile {
    overflow-y: auto;
    max-height: 22em;
    width: 100%;
}

.playlist-container-mobile::-webkit-scrollbar {
    width: 0.5em;
}